@import "tailwindcss";

:root {
  --text-entry : #AB8D72;
  --text-card : #000;
}

@theme inline {
  --color-text-entry : var(--text-entry);
  --color-text-card: var(--text-card);
  --font-lora: var(--font-lora);
  --font-pinyon: var(--font-pinyon);
  --font-afrah: var(--font-afrah);
  --font-symphony: var(--font-symphony);
}


.musique button{
    height: 40px;
    width: 40px;
    border: solid  #DD5460 2px;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    left: 10px;
    z-index: 100;
    background-color: #F2F1F1;
    padding: 5px;
}

.musique svg{
    padding: 0;
    margin: 0;
    overflow: visible;
    background-color: #F2F1F1;
}
