@import "tailwindcss";

:root {
  --text-entry : #AB8D72;
  --text-card : #000;
}

@theme inline {
  --color-text-entry : var(--text-entry);
  --color-text: var(--text-card);
  --font-lora: var(--font-lora);
  --font-pinyon: var(--font-pinyon);
  --font-afrah: var(--font-afrah);
  --font-symphony: var(--font-symphony);
}

